body{
	background-image:url('images/Pretty-Cat-With-Beautiful-Green-Eyes-Picture-HD-Wallpaper.jpg');
	background-position:top;
	background-size:100%;
	background-repeat:no-repeat; 
	font-family:Open Sans;

}
.navbar{
	
	list-style:none;
	float:right;
	margin-top:-10px;
	padding:5px;
	
}

.navbar li{
	display:inline-block;
	padding:5px;
	color:white;

}

.navbar li:first-child{
	margin-right:20px;
	background-color:rgba(174,211,65,0.6);
}

.navbar li:nth-child(2){
	
	background-color:rgba(174,211,65,0.6);
}

h3{
	color:rgb(174,211,65);
}

h4{
	color:rgb(174,211,65);
	font-size:16px;
	letter-spacing:-1px;
}

p{
	font-size:16px;
}
.subscription{
	width:100%;
}

.email{
	border:solid 2px;
	border-color:rgb(200,200,200);
	border-radius:5px;
	color:rgb(200,200,200);
	text-align:center;
	width:65%;
}
button{
	background-color:rgb(174,211,65);
	color:white;
	width:25%;
}

footer{
	background-color:rgb(174,211,65);
	color:white;
	width:100%;
	text-align:center;
	padding:5px;
}