
/*Global Styles*/

body{
	margin:0px;
	padding:0px;
	font-family:Open Sans;
	font-size: 0.83em;
	line-height: 14pt;
}

a{
	font-weight: bold;
	text-decoration: none;
	color:#FFFFFF;
}
h1{
	color:rgba(174,211,65,1);
	font-size: 14pt;
	line-height: 15pt;
}

h3{
	color:rgba(174,211,65,1);
}

h4{
	color:rgba(174,211,65,1);
}
/*Navigation*/

.navwrap{
	margin:0px;
	padding:0px;
	width:100%;
}
#nav {
	margin: 0px;
	padding: 20px 0px;
	width: 300px;
	float: right;

}
#nav ul{
	margin:0px;
	padding:0px;
	list-style:none;
	float:right;
}

#nav li {
	margin: 0px 10px 0px 0px;
	padding: 4px 15px;
	display:inline;
	background-color:rgba(174,211,65,0.8);
	text-align: center;
}


/*body content*/
.wrapper{
	margin:0;
	padding:30px;
	background-image: url('images/dark_cat_edited.png');
	background-size: 100%;
	background-repeat: no-repeat;

}


#quote{
	margin:0px auto;
	padding:30% 0px 10% 0px;
	width:100%;
	text-align: center;

}
.definition{
	margin:10px 0px 0px 0px;
	padding:0px;
	width:100%;
	border-top: 2px solid rgba(174,211,65,1);
}

.symptoms-prevention{
	margin:10px 0px 0px 0px;
	border-top: 2px solid rgba(174,211,65,1);
}
#subscribe{
	width:100%;
	float:left;
	border-top: 2px solid rgba(174,211,65,1);
}

/*footer*/
#footer{
	margin:10px 0px 0px 0px;
	padding:5px;
	width:100%;
	height:40px;
	background-color:rgba(174,211,65,1);
	float:left;
}

/* 481px - 768px */
@media screen and (min-width:480px) {

h1{
	color:rgba(174,211,65,1);
	font-size: 27pt;
	line-height: 30pt;
}
#nav{
	margin:0px;
	padding:20px;
	width:300px;
	float:right;
}


#nav li{
	margin:0px 20px 0px 0px;
	padding:5px 35px;
	display:inline;
	background-color:rgba(174,211,65,0.8);
	text-align: center;
}

.lefttext{
	width:60%;
	float:left;
}
.sidebar{
	width:35%;
	float:right;
}
}
/* end 481px - 768px */


/* 768px - 1024px */
@media screen and (min-width:768px) {
#about{
	padding-top:0px;
}
h1{
	color:rgba(174,211,65,1);
	font-size: 35pt;
	line-height: 38pt;
}
}


/* 1024px and Larger  */
@media screen and (min-width:1024px) {

.definition{
	margin-top:100px;
	padding-bottom:10px;
}
.sidebar{
	margin-top:100px;
}
h1{
	color:rgba(174,211,65,1);
	font-size: 50pt;
	line-height: 52pt;
}
}
