body{
	background-image:url('images/Pretty-Cat-With-Beautiful-Green-Eyes-Picture-HD-Wallpaper.jpg');
	background-position:top;
	background-repeat:no-repeat; 
	font-family:Open Sans;
}
.navbar{
	background-color:rgba(174,211,65,0.6);
	list-style:none;
	float:right;
}


h3{
	color:rgb(174,211,65);
}

h4{
	color:rgb(174,211,65);
}
p{
	font-size:16px;
}
.subscription{
	width:100%;
}

.email{
	border:solid black 2px;
	border-radius:10px;
	color:rgb(156,156,156);
}
button{
	background-color:rgb(174,211,65);
	color:white;
}

footer{
	background-color:rgb(174,211,65);
	color:white;
	width:100%;
}